name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Build
        run: |
          chmod +x build.sh
          ./build.sh

      - name: Package
        run: ditto -c -k --keepParent BatteryBar.app BatteryBar.zip

      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: BatteryBar.zip
          generate_release_notes: true
